:root {
    --color-green: #55c57a;
    --color-green-light: #8fd283;
    --color-green-dark: #28b485;
    --color-silver: #e4e7ea;
    --color-silver-2: #54667a;
    --color-silver-3: #f1f1f4;
    --color-silver-4: #999;
    --color-white: #fff;
    --color-black: #000;
    --color-red: #cd5c5c;

}
html {
    font-size: 10px;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
}
img {
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}